.find-icon {
  display: flex;
  justify-content: space-between;
}

.find-icon__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icon__icon i {
  font-size: 35px;
}

.find-icon__icon span {
  margin-top: 18px;
}

.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 30px 0px;
  margin: 30px 0px;
}

.recommended-friends__title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.recommended-friends span {
  margin: 110px 0px;
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
}

.open-chat__titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.open-chat__title {
  color: rgba(0, 0, 0, 0.5);
}

.first-chatroom,
.second-chatroom {
  display: flex;
  justify-content: space-between;
}

.second-chatroom {
  margin-top: 30px;
}

.first-chatroom__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-title {
  font-size: 20px;
  padding-top: 15px;
}

.second-title {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.members {
  display: flex;
  align-items: center;
  padding-bottom: 7px;
}

.admin-photo {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  margin-right: 10px;
}

.chat-room__photo {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.members__active {
  color: palevioletred;
}
