.alarm-display {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}

.alarm-display span {
  background-color: rgb(187, 187, 187);
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: 600;
  color: aliceblue;
  border-radius: 8.5px;
}
