.alarm-display {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}

.alarm-display i {
  color: rgb(187, 187, 187);
  margin-right: 5px;
}

.fa-chevron-right {
  margin-left: 15px;
  padding-top: 3px;
}
