@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@300&display=swap");
@import "reset.css";
@import "variables.css";
@import "status-bar.css";
@import "loginform.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "friends-screen.css";
@import "user-component.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}
