.user-component {
}

.user-component__column,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
}

.user-component__subtitle {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

.user-component__avatar {
  height: 70px;
  width: 70px;
  border-radius: 25px;
  margin-right: 20px;
  margin-top: 10px;
}

.user-component__column {
}

.user-component__channelpic {
  height: 65px;
  width: 65px;
  border-radius: 25px;
}

.channel__nav {
  display: flex;
  margin: 8px 0px;
  justify-content: space-between;
}

.channel {
  font-size: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
